<div class="background">
  <div><img src="assets/Fluid white.svg" class="logo" alt="" /></div>
  <div class="container">
    <p class="greeting">Hello {{ appointment?.customerEnName }} FARAJ SABRY</p>
    <p class="meeting-info">you will meet</p>
    <p class="doctor-name">{{ appointment?.providerEnName }} DR. RADI KURI</p>
    <p class="location">in Clinc 4{{ appointment?.facilityEnName }} on</p>
    <p class="date">{{ date }}28-04-2024</p>
    <p class="meeting-info">at</p>
    <p class="time">{{ time }}8:41 am</p>
  </div>
</div>
